<div class="section"></div>

<h1 class="center">Register for Trading Post</h1>
<div class="section"></div>
<div class="container">
  <%= form_for(@user, url: users_path, html: {multipart: true}) do |f| %>
    <div class="field"><p><%= f.text_field :name, placeholder: "Name" %></p></div><br>
    <div class="field"><p><%= f.text_field :email, placeholder: "Email" %></p></div><br>
    <div class="field"><p><%= f.password_field :password, placeholder: "Password" %></p></div><br>
    <div class="field"><p><%= f.password_field :password_confirmation, placeholder: "Password confirmation" %></p></div><br>
    <div class="field"><p><%= f.submit %></p></div><br>
  <% end %>
</div>
