<div class="container">
  <%= form_for(@item, url: items_path, html: {multipart: true}) do |f| %>
    <div class="field"><p><%= f.text_field :title, placeholder: "Title" %></p></div><br>
    <div class="field"><p><%= f.text_field :description, placeholder: "Description" %></p></div><br>
    <div class="field"><p><%= f.text_field :desired_trade_items, placeholder: "Desired Trade Items" %></p></div><br>
    <div class="field"><p><%= f.label :picture, "Attach a Picture" %></p></div><br>
    <div class="field"><p><%= f.file_field :picture %></p></div><br>
    <div class="field"><p><%= f.submit %></p></div><br>
  <% end %>
</div>
